# Zde vlož token svého Discord bota
DISCORD_TOKEN=tvuj_tajny_token_zde

# Tvoje Discord ID
OWNER_ID=123456789012345678

# Tvoje jméno / nick, který se zobrazí jako název tlačítka na recepci
OWNER_NAME=John Doe

# VOLITELNÉ: Pokud chceš na recepci víc lidí než jen sebe, odkomentuj a vyplň tohle (formát JSON)
# RECIPIENTS={"Example": 123456789012345578, "Example2": 987654321098765432}